<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.productMapper">

<select id="autoNum" resultType="string">
	SELECT GOODS_NUM.NEXTVAL FROM DUAL
</select>

<select id="catList" resultType="model.CatDTO">
	SELECT CAT_NUM catNum, CAT_TYPE catType, CAT_NAME catName FROM CATEGORY
</select>

<insert id="prodInsert" parameterType="model.ProductDTO">
	INSERT INTO PRODUCT(PROD_NO, CAT_NUM, PROD_NAME, PROD_PRICE, PROD_INFO, PROD_IMAGE, EMP_NO)
	VALUES (#{prodNo}, #{catNum}, #{prodName}, #{prodPrice}, #{prodInfo}, #{prodImage}, #{empNo})
</insert>

<select id="prodList" resultType="model.ProductDTO">
	SELECT PROD_NO prodNo, CAT_NUM catNum, PROD_NAME prodName, PROD_PRICE prodPrice, PROD_INFO prodInfo, PROD_IMAGE prodImage, EMP_NO empNo
	FROM PRODUCT
</select>

<select id="prodInfo" parameterType="String" resultType="model.ProductDTO">
	SELECT PROD_NO prodNo, CAT_NUM catNum, PROD_NAME prodName, PROD_PRICE prodPrice, PROD_INFO prodInfo, PROD_IMAGE prodImage, EMP_NO empNo
	FROM PRODUCT
	WHERE PROD_NO = #{prodNo}
</select>

<update id="prodUpdate" parameterType="model.ProductDTO">
	UPDATE PRODUCT
	SET PROD_INFO = #{prodInfo}, PROD_NAME = #{prodName}, PROD_PRICE = #{prodPrice}
	WHERE PROD_NO = #{prodNo}
</update>

<delete id="prodDelete" parameterType="String">
	DELETE FROM PRODUCT
	WHERE PROD_NO = #{prodNo}
</delete>

<insert id="cartAdd" parameterType="model.CartDTO">
	MERGE INTO CART c
	USING (SELECT PROD_NO FROM PRODUCT WHERE PROD_NO = #{prodNo}) p
	ON (c.PROD_NO = p.PROD_NO AND MEMB_ID = #{membId})
	WHEN MATCHED THEN
	UPDATE SET CART_QTY = CART_QTY + #{cartQty},
			   CART_PRICE = CART_PRICE + #{cartPrice}
	WHEN NOT MATCHED THEN
	INSERT (MEMB_ID, PROD_NO, CAT_NUM, CART_QTY, CART_PRICE)
	VALUES (#{membId}, #{prodNo}, #{catNum}, #{cartQty}, #{cartPrice})
</insert>

<select id="memCart" parameterType="String" resultType="String">
	SELECT PROD_NO
	FROM CART
	WHERE MEMB_ID = #{membId}
</select>

<select id="cartList" parameterType="model.CartDTO" resultMap="productCartMap">
	SELECT PROD_NAME, PROD_PRICE,
		   CART_QTY, MEMB_ID, c.PROD_NO, CART_PRICE
	FROM PRODUCT p, CART c
	WHERE p.PROD_NO = c.PROD_NO AND c.MEMB_ID = #{membId} AND c.PROD_NO = #{prodNo}
</select>

<resultMap type="model.ProductCartDTO" id="productCartMap">
	<association property="productDTO" javaType="model.ProductDTO">
		<result column="PROD_NAME" jdbcType="VARCHAR" property="prodName"/>
		<result column="PROD_PRICE" jdbcType="VARCHAR" property="prodPrice"/>
	</association>
	<association property="cartDTO" javaType="model.CartDTO">
		<id column="MEMB_ID" jdbcType="VARCHAR" property="membId"/>
		<id column="PROD_NO" jdbcType="VARCHAR" property="prodNo"/>
		<result column="CART_QTY" jdbcType="VARCHAR" property="cartQty"/>
		<result column="CART_PRICE" jdbcType="VARCHAR" property="cartPrice"/>
	</association>
</resultMap>

<update id="cartQtyDown">
	UPDATE CART
	SET CART_QTY = CART_QTY - 1,
		CART_PRICE = CART_PRICE - #{cartPrice}
	WHERE MEMB_ID = #{membId} and PROD_NO = #{prodNo}
</update>

<insert id="purchInsert" parameterType="model.PurchaseDTO">
	INSERT INTO PURCHASE(PURCH_NO, PURCH_DATE, PURCH_TOTAL, PURCH_ADDR, PURCH_RECEIVER, PURCH_PHONE_NUMBER, PURCH_MSG, MEMB_ID)
	VALUES (#{purchNo}, SYSDATE, #{purchTotal}, #{purchAddr}, #{purchReceiver}, #{purchPhoneNumber}, #{purchMsg}, #{membId})
</insert>

<insert id="purchListInsert" parameterType="model.CartDTO">
	INSERT INTO PURCHASE_LIST(PURCH_NO, PROD_NO, CAT_NUM, PURCH_QTY, PURCH_PRICE)
	SELECT #{purchNo}, PROD_NO, CAT_NUM, CART_QTY, CART_PRICE
	FROM CART
	WHERE MEMB_ID = #{membId} AND PROD_NO = #{prodNo}
</insert>

<delete id="cartProdDel" parameterType="model.CartDTO">
	DELETE FROM CART
	WHERE MEMB_ID = #{membId} AND PROD_NO = #{prodNo}
</delete>

<select id="purchList" parameterType="String" resultType="model.PurchListDTO">
	SELECT pr.PROD_NO prodNo, PROD_NAME prodName, PROD_IMAGE prodImage, pu.PURCH_NO purchNo, PURCH_DATE purchDate, PURCH_TOTAL purchTotal, PAY_NO payNo, REVIEW_CONTENT reviewContent
	FROM PRODUCT pr, PURCHASE_LIST pl, PURCHASE pu, PAYMENT pa, REVIEW r
	WHERE pr.PROD_NO = pl.PROD_NO
      AND pl.PURCH_NO = pu.PURCH_NO
      AND pu.PURCH_NO = pa.PURCH_NO(+)
      AND pl.PURCH_NO = r.PURCH_NO(+)
      AND pl.PROD_NO = r.PROD_NO(+)
      AND pu.MEMB_ID = #{membId}
</select>

<sql id="payNo">
	SELECT TO_CHAR(SYSDATE, 'yyyymmdd') || NVL2(MAX(PAY_NO), SUBSTR(MAX(PAY_NO),-6), 100000) + 1
	FROM PAYMENT
	WHERE TO_CHAR(PAY_DATE, 'yyyymmdd') = TO_CHAR(SYSDATE, 'yyyymmdd')
</sql>

<insert id="payInsert" parameterType="model.PaymentDTO">
	INSERT INTO PAYMENT(PAY_NO, PURCH_NO, PAY_METHOD, PAY_ACC_NUM, PAY_PRICE, PAY_DATE, PAY_CARD_BANK)
	VALUES ( (<include refid="payNo" />), #{purchNo}, #{payMethod}, #{payAccNum}, #{payPrice}, SYSDATE, #{payCardBank})
</insert>

<insert id="reviewInsert" parameterType="model.ReviewDTO">
	INSERT INTO REVIEW(PURCH_NO, PROD_NO, REVIEW_CONTENT, REVIEW_DATE, CAT_NUM)
	VALUES (#{purchNo}, #{prodNo}, #{reviewContent}, SYSDATE, (SELECT CAT_NUM FROM PRODUCT WHERE PROD_NO=#{prodNo}))
</insert>

<select id="reviewSelect" parameterType="model.ReviewDTO" resultType="model.ReviewDTO">
	SELECT PURCH_NO purchNo, PROD_NO prodNo, REVIEW_CONTENT reviewContent
	FROM REVIEW
	WHERE PURCH_NO = #{purchNo} AND PROD_NO = #{prodNo}
</select>

<update id="reviewUpdate" parameterType="model.ReviewDTO">
	UPDATE REVIEW
	SET REVIEW_CONTENT = #{reviewContent}
	WHERE PROD_NO = #{prodNo}
	  AND PURCH_NO = #{purchNo}
</update>

<select id="prodReviewSelect" parameterType="String" resultType="model.ProdReviewDTO">
	SELECT P.MEMB_ID membId, pl.PURCH_NO purchNo, pl.PROD_NO prodNo, REVIEW_CONTENT reviewContent, REVIEW_DATE reviewDate, PURCH_DATE purchDate
	FROM PURCHASE p, PURCHASE_LIST pl, REVIEW r
	WHERE p.PURCH_NO = pl.PURCH_NO
	  AND pl.PROD_NO = r.PROD_NO
	  AND pl.PURCH_NO = r.PURCH_NO
	  AND r.PROD_NO = #{prodNo}
</select>

</mapper>