<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.productMapper">

<select id="autoNum" resultType="string">
	SELECT GOODS_NUM.NEXTVAL FROM DUAL
</select>

<select id="catList" resultType="model.CatDTO">
	SELECT CAT_NUM catNum, CAT_TYPE catType, CAT_NAME catName FROM CATEGORY
</select>

<insert id="prodInsert" parameterType="model.ProductDTO">
	INSERT INTO PRODUCT(PROD_NO, CAT_NUM, PROD_NAME, PROD_PRICE, PROD_INFO, PROD_IMAGE, EMP_NO)
	VALUES (#{prodNo}, #{catNum}, #{prodName}, #{prodPrice}, #{prodInfo}, #{prodImage}, #{empNo})
</insert>

<select id="prodList" resultType="model.ProductDTO">
	SELECT PROD_NO prodNo, CAT_NUM catNum, PROD_NAME prodName, PROD_PRICE prodPrice, PROD_INFO prodInfo, PROD_IMAGE prodImage, EMP_NO empNo
	FROM PRODUCT
</select>

<select id="prodInfo" parameterType="String" resultType="model.ProductDTO">
	SELECT PROD_NO prodNo, CAT_NUM catNum, PROD_NAME prodName, PROD_PRICE prodPrice, PROD_INFO prodInfo, PROD_IMAGE prodImage, EMP_NO empNo
	FROM PRODUCT
	WHERE PROD_NO = #{prodNo}
</select>

<update id="prodUpdate" parameterType="model.ProductDTO">
	UPDATE PRODUCT
	SET PROD_INFO = #{prodInfo}, PROD_NAME = #{prodName}, PROD_PRICE = #{prodPrice}
	WHERE PROD_NO = #{prodNo}
</update>

<delete id="prodDelete" parameterType="String">
	DELETE FROM PRODUCT
	WHERE PROD_NO = #{prodNo}
</delete>

</mapper>