<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.salesMapper">

<select id="salesList" resultType="model.SalesListDTO">
	SELECT p.PROD_NO prodNo, PROD_NAME prodName, PROD_PRICE prodPrice, SUM(PURCH_QTY) sumPurchQty, SUM(PURCH_PRICE) sumPurchPrice
	FROM PRODUCT p, PURCHASE_LIST pl
	WHERE p.PROD_NO = pl.PROD_NO
	GROUP BY p.PROD_NO, PROD_NAME, PROD_PRICE
</select>

</mapper>